[Unit]
Description=CS3237 Flask Image Server
After=network.target mosquitto.service influxdb.service

[Service]
Type=simple
User=root

WorkingDirectory=/root/cs3237_server
ExecStart=/root/venv/bin/python /root/cs3237_server/image_server.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
